<div class="container">
    <h1>Adicionar Novo Animal</h1>
    <form action="/animais" method="post">
    <label for="especie">Espécie:</label>
    <input type="text" name="especie" id="especie" placeholder="Digite a espécie do animal" required>
    <button type="submit">Adicionar</button>
    </form>
    <a href="/"> Voltar para a Lista</a>
</div>